*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.m-b-70{
  margin-bottom: 70px;
}
.m-t-70{
  margin-top: 70px;
}
.p-b-70{
  padding-bottom: 70px;
}
.p-t-70{
  padding-top: 70px;
}
.text-size{
  font-size: 16px;
  line-height: 26px;
  font-family: var(--font-secondary);
}
.text-cursive{

}
.large-heading{
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
  color: #4a5562;
}
.medium-heading {
  font-size: 28px !important;
  font-weight: 500 !important;
}
.small-heading {
  font-size: 22px !important;
  font-weight: 500 !important;
}
.btn{
  line-height: 50px;
  padding: 0 20px;
  border-radius: 10px 0px 10px 0px;
}
:root {
 
 
  --font-primary: "Dosis", sans-serif;
  --font-secondary:"Heebo", sans-serif;
}

/* Colors */
:root {
 
  --primary: #FEA116;
  --light: #F1F8FF;
  --dark: #0F172B;
  --secondary:#ce1212;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-primary);
  /* line-height: 1.75; */
  color:var(--text-color) !important;
}



/*--------------------------------------------------------------
# Section Title
--------------------------------------------------------------*/
.section-title {
  display: inline-block;
  padding-bottom: 6px ;
  position: relative;
  color:var(--primary);
  font-family: 'Pacifico', cursive;
  color:var(--secondary);
}
.section-title:before{
 position: absolute;
 content: "";
 height:2px;
 width:45px;
 background-color: var(--secondary);
 top:40%;
 margin-top: -1px;
 left: -55px;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  right: -55px;
  margin-top: -1px;
  background: var(--secondary);
}
.section-title.text-start::before,.section-title.text-end::after{
  display: none;
}

.section-title h2 {
  /* font-size: 32px;
  font-weight: 700; */
  position: relative;
}



.section-title p {
  margin-bottom: 0;
  color:#0f394c;
  line-height: 1.8;
  font-size: 17px;
}
.navbar{
  margin-bottom: 0 !important;
  padding: 20px 80px 20px 80px !important;
}
.navbar-dark .navbar-nav .nav-link {
  position: relative;
  margin-left: 25px;
  padding: 35px 0;
  font-size: 22px;
  color: var(--light) !important;
  text-transform: uppercase;
  font-weight: 600;
  outline: none;
  transition: .5s;
}
.sticky-top.navbar-dark .navbar-nav .nav-link {
  padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: var(--primary) !important;
}
.navbar-brand h1{
  color:var(--primary);
}
.navbar-collapse .btn{
  background-color: var(--primary);
  color:var(--light);
  font-weight: bold;
  font-size: 22px;
  transition: all 0.5s;
}
.navbar-collapse .btn:hover{
  background-color: var(--secondary);
  border: var(--secondary);
}
/* hero section */

.hero-header {
  background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../images/bg-hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-header img {
  animation: imgRotate 50s linear infinite;
}
@keyframes imgRotate { 
  100% { 
      transform: rotate(360deg); 
  } 
}
.display-3{
  font-weight: 600;
}
.hero-header .text{
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  margin: 20px 0 20px 0 !important;
  font-family: var(--font-secondary);
}
.hero-header .btn{
  background-color: var(--primary);
  color:var(--light);
  font-weight: bold;
  font-size: 22px;
  transition: all 0.5s;
}
.hero-header .btn:hover{
  background-color: var(--secondary);
  border: var(--secondary);
}
/* service */
.service-item{
  box-shadow: 0 0 45px rgba(0,0,0,0.08);
  transition: 0.5s;
}
.service-item i{
  color: var(--primary) !important;
  font-size: 45px;
}
.service-item h5{
  font-weight: 700 !important;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: var(--font-primary);
}
.service-item p{
  font-weight: 500 !important;
}
.service-item:hover{
  background-color: var(--primary);
}
.service-item:hover i,.service-item:hover h5,.service-item:hover p{
  color: #ffffff !important;
}

/* about */
.btn{
  background-color: var(--secondary);
  color:var(--light);
  font-weight: bold;
  font-size: 22px;
  transition: all 0.5s;
}
.btn:hover{
  background-color: var(--primary);
 
}

/* portfolio */
#portfolio-flters{
  list-style: none;
  margin:0 auto 10px auto;
  text-align: center;
  padding:2px 15px;
  display: flex;
}
#portfolio-flters li{
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}
#portfolio-flters li:hover{
  color:#49b5e7;
}
.portfolio .portfolio-wrap{
  position:relative;
  overflow: hidden;
  z-index:1;
  background: rgba(255, 255, 255, 0.6);
}
.portfolio .portfolio-wrap::before{
  content: "";
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.portfolio-wrap .portfolio-info{
  opacity:0;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  text-align:center;
  z-index:3;
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center
}
.portfolio-wrap .portfolio-info::after{
  display:block;
  content: "";
  width: 48px;
  height:48px;
  bottom:35px;
  right:35px;
  position: absolute;
  border-bottom: 3px solid #bdc6ca;
  border-right: 3px solid #bdc6ca;
  z-index: 9999;
  transition: all 0.5s ease 0s;
}
.portfolio .portfolio-item{
  margin-bottom: 30px !important;
}
.portfolio-wrap .portfolio-info::before{
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top:35px;
  left:35px;
  border-top: 3px solid #bdc6ca;
  border-left: 3px solid #bdc6ca;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #0f394c;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #0f394c;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}
.portfolio-wrap .portfolio-info:hover{
  opacity: 1;
}
.portfolio-wrap:hover .portfolio-info::after{
  bottom: 15px;
  right:15px;
}
.portfolio-wrap:hover .portfolio-info::before{
  top: 15px;
  left:15px;
}
.portfolio-item:hover .portfolio-wrap::before{
  
  opacity: 1;
}
.portfolio-wrap:hover::before{
  opacity:1;
  top:0;
  bottom:0;
  right:0;
  left: 0;
}
.portfolio-links a{
  color:#49b5e7;
  margin:0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;

}
.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #8dd0f0;
}
/* team */
.team{
  background-color: #f4fbfe;
}
.team .member{
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  background:#fff;
  box-shadow: 0px 2px 15px rgba(0,0,0,0.1);
}
.team .member .member-img{
  position: relative;
  overflow: hidden;
}

.team .member  .social{
  position:absolute;
  left:0;
  bottom:30px;
  right:0;
  opacity:0;
  transition:ease-in-out 0.3s;
  text-align: center;
}
.team .member  .social a{
  margin:0 3px;
  border-radius: 50px;
  width:36px;
  height:36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(73,181,231,0.8);
  color:#fff;

}
.team .member:hover .social{
  opacity:1;
  bottom:15px;
}
.team .member  .social a:hover{
  background:#76c7ed;
}
.member-info h4{

  color:#0f394c;
  font-weight: 700;
}
.member-info{
  padding:25px 15px;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  padding: 0 0 30px 0;
  color: #444444;
  font-size: 14px;
  background: #ebf7fc;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 28px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 24px;
  font-weight: bold;
  color: #0f394c;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #49b5e7;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #49b5e7;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #49b5e7;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #1da2e0;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  float: left;
  color: #0f394c;
  font-size: 24px;
}

#footer .credits {
  float: right;
  font-size: 24px;
  color: #0f394c;
}

@media (max-width: 575px) {

  #footer .copyright,
  #footer .credits {
    float: none;
    text-align: center;
  }
}

